<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="ScreenshotListener" />
    </listeners>
    <test name="Nopackage" >
        <classes>
            <class name="Case1" />
            <class name="Case2" />
            <class name="Case3" />
        </classes>
    </test>

</suite>
